nav{
    width: 100%;
    color: #ffffff;
    padding: 4px 30px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background: #555555;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}
.menu-icon{
    display: none;
}


@media (max-width: 800px){
    nav{
        padding: 10px 12px;
    }
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        bottom: 0;
        background: #555555;
        z-index: 1;
        width: 150px;
        padding-top: 0;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        font-size: 14px;
        padding: 0.75rem;
    }
    .menu-icon{
        display: block;
        width: 50px;
        cursor: pointer;
    }
    .hide-mobile-menu{
        left: -150px;
    }
}